.marginB10 {margin-bottom: 10px;}
.marginR5 {margin-right: 5px;}
.label-medium {
	padding: 9px 10px;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
}
.mr-7{
    margin-right: 7px;
}
.mr-3{
    margin-right: 3px;
}
.btn:focus-visible, .btn:focus{
    outline: none !important;
}
.flex-j-b {
    display: flex;
    justify-content: space-between;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.isFlexbox {
    display: flex !important;
}

@media (max-width: 576px){
    .hide-on-mobile{
        display: none;
    }
    .m-ml--8{
        margin-left: -8px;
    }
    .dropdown-menu.show.m-l--78{
        right: 100% !important;
        left: unset !important;
        transform: translate3d(74px,34px,0) !important;
    }
    .m-mt-16{
        margin-top: 16px;
    }
    .flex-j-b {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .mobile-form-input{
        width: 70%;
        margin-right: 2.9%;
        margin-bottom: 8px;
    }
    .mobile-form-select{
        width: 27.1%;
        margin-bottom: 8px;
    }
    .m-mr-7{
        margin-right: 7px;
    }
    .m-edit-btn{
        min-width: 56.22px;
        margin-bottom: 6px;
    }
    .m-save-edit-btn{
        min-width: 57.06px;
        margin-top: 6px;
    }
}